.dial {
    display: block;
    width: 350px;
    height: 400px;
    color: #000;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    transition: 0.3s;
    animation: ease-in-out; 
    padding: 10px;
    position: relative;
    text-align: center;
    margin: 2.5rem auto;
}

.dial:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.temper{
    margin-left: 7.5rem;
}

.title {
    font-size: 1em;
    color:  #000;
    position: relative;
    text-align: center;
    margin: 2.5rem auto;
}

